doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/home.css")
        script(type="text/javascript" src="http://brython.info/src/brython.js")
        title Home - Welcome to ARTHURBABO! | ARTHURBABO
        document("body").bind("onload", brython()) 
    body
        
        h1#welcome Welcome to ARTHURBABO!
        script(type="text/python")
            from browser import document, html
            html.DIV("test 중입니다", id="brython-test")    
            
        